:root {
  --admin-color: #3a3d43;
  --client-color: #007bff;
  --applicant-color: #b785f6;

  --bg-main: #20232b;
  --bg-secondary: #15171c;
  --bg-shadow: #15171c;
  --bg-roomselected: #1a1d24;
  --bg-chatmessage: #1c1e25;
  --bg-sender: #b785f6;
  --bg-receiver: #d9d9d9;
  --bg-btn-send: #f2fc89;
  --txt-color: #c5c6c8;
  --border-style: 1px red solid;

  --header-height: 80px;
  --body-height: calc(100% - var(--total-height));
  --footer-height: 50px;

  --total-height: calc(var(--header-height) + var(--footer-height));
}

/* Main Containers */
#chatContainer,
.chatList,
.chatMessage {
  margin: 0;
  z-index: 0 !important;
}

#chatContainer {
  display: flex;
  height: 100%;
  gap: 1rem;
}

.chatList,
.chatMessage {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative; /* Ensure positioning context */
  z-index: 0 !important;
}

/* Universal */
#chatContainer .chatList > *,
#chatContainer .chatMessage > * {
  color: var(--txt-color);
}

.chatList .header,
.chatMessage .header {
  min-height: var(--header-height);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  z-index: 0 !important;
  gap: 1rem;
}
.chatList .header .action {
  display: flex;
  gap: 0.5rem;
}
.chatList .footer,
.chatMessage .footer {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  z-index: 0 !important;
}
.chatList .footer {
  height: var(--header-height);
}
.chatMessage footer {
  flex-grow: auto;
}

/* Chat List Styles */
.chatList .room {
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.8rem;
}

.chatList .room-selected {
  background-color: var(--bg-roomselected);
}

.chatList .room-latest-message {
  padding-block-start: 0.5rem;
  font-size: 0.9rem;

  /* Add the following styles for ellipsis */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis when text overflows */
}

.chatList .room-title,
.chatList .room-latest-message,
.chatList .room-latest-time {
  width: 100%;
}

.chatList .room-title {
  font-size: 0.85rem;
  font-weight: 700;
}

.chatList .room-latest-time {
  display: flex;
  justify-content: flex-end;
  font-size: smaller !important;
  margin-top: 0.5rem;
}

.chatList .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-main) !important;
  gap: 1rem;
}

.chatList .body {
  background-color: var(--bg-main) !important;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.chatList .footer {
  background-color: var(--bg-main) !important;
}

/* Chat Message Styles */
.chatMessage {
  background-color: var(--bg-main) !important;
  border-radius: 1rem;
  max-width: 100%; /* Prevent overflow */
  overflow: hidden; /* Hide overflow */
}
.chatMessage .header {
  background-color: var(--bg-main) !important;
  z-index: 0 !important;
}

.chatMessage .body {
  background-color: var(--bg-secondary) !important;
  height: var(--body-height);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1002 !important;
}

.chatMessage .footer {
  background-color: var(--bg-main) !important;
}

/* MESSAGE CONTAINER */
.message-container {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.message-container * {
  color: var(--bg-chatmessage) !important;
}

.message-container .msg-date-time {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  padding-top: 0.8rem;
  font-size: smaller;
  z-index: var(--popover-zindex);
}

.message-container .msg-sender,
.message-container .msg-receiver {
  display: inline-block;
  width: auto;
  max-width: 75%;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* MESSAGE SENDER */
.message-container .msg-sender {
  background-color: var(--bg-sender);
  padding: 0.6rem 0.8rem 0.5rem 0.8rem;
  border-radius: 0 0.8rem 0.8rem 1rem;
}

.message-container .msg-sender .msg-name {
  text-align: start;
  font-weight: 800;
}

/* MESSAGE RECEIVER */
.message-container .msg-receiver {
  background-color: var(--bg-receiver);
  padding: 0.6rem 0.8rem 0.5rem 0.8rem;
  border-radius: 1rem 0.8rem 0 0.8rem;
  float: inline-end;
}

.message-container .msg-receiver .msg-name {
  text-align: end;
  font-weight: 800;
}

/* Buttons */
.forms-container {
  gap: 0.5rem;
  background-color: var(--bg-shadow) !important;
  padding: 0.8rem;
  border-radius: 1rem;
}

.input-text-message {
  background-color: transparent !important;
  border: transparent !important;
  color: var(--txt-color) !important;
}

.input-text-message::placeholder {
  color: var(--light-100) !important;
}

.btn-send {
  background-color: var(--bg-btn-send) !important;
  border: none;
  color: black !important;
  font-size: small;
  border-radius: 0.4rem;
  padding: 0.5rem 0.8rem;
  box-shadow: rgba(242, 252, 137, 0.2) 0px 3px 10px;
}

.btn-secondary-send {
  background-color: transparent;
  border: none;
  font-size: small;
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.btn-secondary-send .icon {
  color: var(--bg-btn-send);
  fill: currentColor !important;
}

.btn-send .icon,
.btn-secondary-send .icon {
  height: 0.8rem;
  width: 0.8rem;
  background-blend-mode: color !important;
  color: var(--bg-chatmessage);
  fill: var(--bg-btn-send) !important;
}

.chatList .header .title {
  font-size: medium;
}
/* Popover */
.popover-container {
  z-index: 9999 !important;
  position: absolute;
}

.msg-date-time {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: white;
  padding: 0.5rem;
  height: auto;
  width: auto;
  gap: 0.75rem;
  font-size: xx-small !important;
}

.msg-date-time span {
  font-size: x-small;
  text-wrap: nowrap;
  z-index: 1007 !important;
}

.msg-date-time.appear {
  animation: appear;
  opacity: 1;
  z-index: 1007 !important;
}

.msg-date-time.vanish {
  animation: vanish;
  opacity: 0;
  z-index: 1007 !important;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.x-button {
  border-radius: 50% !important;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
}
.file-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.file-name {
  height: 50px;
  width: 100px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.selected-files-container {
  white-space: nowrap;
  display: inline-block;
}
.form-control.input-text-message {
  resize: none; /* Disable manual resizing */
  padding: 10px; /* Add padding */
  font-size: 16px; /* Font size */
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  height: 9px;
  width: 12px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-secondary);
}
