#chat-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
}
/* Default styles */
#chat-list,
#chat-conversation {
  height: 100% !important;
  background-color: var(--light-50);
  border-radius: 1rem;
  padding: 0.5rem;
}
/* Ensure this is in a global stylesheet or the correct module */
#chat-list ul {
  list-style: none;
  padding: 0.5rem;
}
#chat-list {
  padding-bottom: 0.5rem;
  cursor: pointer;
}
#chat-conversation div {
  width: 100%;
  padding-inline: 0.3rem;
}
#chat-conversation div .message-container {
  min-width: 10%;
  max-width: 70%;
  border: 1px red solid;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
  border: 1px var(--dark-50) solid;
}
#chat-conversation .sender .message-container {
  text-align: start;
  float: right;
  width: fit-content;
  border-radius: 0.5rem 1rem 0 0.5rem;
}
#chat-conversation .receiver .message-container {
  float: left;
  width: fit-content;
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}
/* Conversation Stlyes */
#chat-conversation {
  display: flex;
  flex-direction: column;
}
#chat-conversation section {
  flex-grow: 1;
}
#chat-conversation footer {
  padding: 0.5rem;
  background-color: transparent;
}
