@font-face {
  font-family: "Agdasima";
  src: url("../assets/fonts/Agdasima/Agdasima-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Agdasima-Bold";
  src: url("../assets/fonts/Agdasima/Agdasima-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Bayon";
  src: url("../assets/fonts/Bayon/Bayon-Regular.ttf") format("truetype");
}
:root {
  --dark-100: #000000;
  --dark-90: #131313;
  --dark-80: #262626;
  --dark-70: #393939;
  --dark-60: #4b4b4b;
  --dark-50: #5e5e5e;
  --dark-40: #494949;

  --light-100: #ffffff;
  --light-90: #f8f8f8;
  --light-80: #f2f2f2;
  --light-70: #ebebeb;
  --light-60: #e4e4e4;
  --light-50: #dedede;

  --bg-light-100: #f2f2f2;
  --bg-light-90: #ededed;
  --bg-light-80: #e7e7e7;
  --bg-light-60: #dcdcdc;
  --bg-light-50: #d7d7d7;

  --color-primary: rgb(104, 180, 215);
  --color-secondary: rgb(174, 180, 183);
  --color-dark: rgb(86, 89, 91);
  --color-light: var(--bg-light-100);
  --color-success: rgb(104, 215, 104);
  --color-danger: rgb(234, 102, 102);
  --color-warning: rgb(247, 234, 88);

  --color-shade-primary: rgb(92, 160, 192);
  --color-shade-secondary: rgb(150, 156, 159);
  --color-shade-dark: rgb(65, 68, 69);
  --color-shade-light: var(--bg-light-80);
  --color-shade-success: rgb(100, 203, 100);
  --color-shade-danger: rgb(222, 97, 97);
  --color-shade-warning: rgb(232, 219, 83);
}
* {
  font-family: "Poppins";
}
.bar-title {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  font-family: "Bayon";
  line-height: 3rem;
}
.bar-title::before {
  content: "";
  position: absolute;
  top: -15px; /* Adjust this value to control the distance of the bar from the text */
  left: 10;
  width: 50px;
  height: 5px; /* Adjust this value to control the thickness of the bar */
  background-color: white; /* Adjust the color of the bar as needed */
}
.bar-title.dark::before {
  content: "";
  position: absolute;
  top: -15px; /* Adjust this value to control the distance of the bar from the text */
  left: 10;
  width: 50px;
  height: 5px; /* Adjust this value to control the thickness of the bar */
  background-color: black; /* Adjust the color of the bar as needed */
}
body {
  margin: 0;
  padding: 0;
  box-sizing: none;
  height: 100dvh;
  width: 100%;
}
.primary-btn,
.secondary-btn {
  height: 40px;
  min-height: auto;
  width: auto;
  padding-inline: 1rem;
  text-transform: uppercase;
  text-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: "Agdasima-Bold";
}
.primary-btn {
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply Gaussian blur effect */
  border: none;
  color: var(--color-light);
  border: 1px white solid;
}
.primary-btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
}
.secondary-btn {
  background-color: rgba(242, 242, 242); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply Gaussian blur effect */
  border: none;
  color: #000 !important;
  border: 1px #000 solid;
}
.secondary-btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--color-light) !important;
  border: 1px white solid;
}
.cs-button {
  text-wrap: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: 0.5rem;
  padding-inline: 1rem;
}
/* COLORS */
.cs-button.primary {
  background-color: var(--color-primary);
  color: var(--light-100);
}
.cs-button.secondary {
  background-color: var(--color-secondary);
  color: var(--light-100);
}
.cs-button.dark {
  background-color: var(--color-dark);
  color: var(--light-100);
}
.cs-button.light {
  background-color: var(--color-light);
  color: var(--dark-80);
}
.cs-button.success {
  background-color: var(--color-success);
  color: var(--light-100);
}
.cs-button.danger {
  background-color: var(--color-danger);
  color: var(--light-100);
}
.cs-button.warning {
  background-color: var(--color-warning);
  color: var(--dark-90);
}
/*  */
.cs-button.outline-primary {
  border: 2px var(--color-primary) solid !important;
  color: rgb(104, 180, 215);
}
.cs-button.outline-secondary {
  border: 2px var(--color-secondary) solid;
  color: rgb(174, 180, 183);
}
.cs-button.outline-dark {
  border: 2px var(--color-dark) solid;
  color: rgb(86, 89, 91);
}
.cs-button.outline-light {
  border: 2px var(--color-light) solid;
  color: var(--bg-light-100);
}
.cs-button.outline-success {
  border: 2px var(--color-success) solid;
  color: rgb(104, 215, 104);
}
.cs-button.outline-danger {
  border: 2px var(--color-danger) solid;
  color: rgb(234, 102, 102);
}
.cs-button.outline-warning {
  border: 2px var(--color-warning) solid;
  color: rgb(247, 234, 88);
}
/* BUTTON SIZE */
.cs-button.size-sm {
  border-radius: 0.5rem;
  height: 30px;
  font-size: 0.8rem;
}
.cs-button {
  border-radius: 0.5rem;
  height: 40px;
}
.cs-button.size-md {
  border-radius: 0.5rem;
  height: 50px;
}
.cs-button.size-lg {
  border-radius: 0.5rem;
  font-size: 1.3rem;
  height: 60px;
}
/* HOVER */
.cs-button.outline-primary:hover,
.cs-button.outline-primary:focus {
  background-color: var(--color-shade-primary);
  color: var(--light-100);
}
.cs-button.outline-secondary:hover,
.cs-button.outline-secondary:focus {
  background-color: var(--color-shade-secondary);
  color: var(--light-100);
}
.cs-button.outline-dark:hover,
.cs-button.outline-dark:focus {
  background-color: var(--color-shade-dark);
  color: var(--light-100);
}
.cs-button.outline-light:hover,
.cs-button.outline-light:focus {
  background-color: var(--color-shade-light);
  color: var(--dark-80);
}
.cs-button.outline-success:hover,
.cs-button.outline-success:focus {
  background-color: var(--color-shade-success);
  color: var(--light-100);
}
.cs-button.outline-danger:hover,
.cs-button.outline-danger:focus {
  background-color: var(--color-shade-danger);
  color: var(--light-100);
}
.cs-button.outline-warning:hover,
.cs-button.outline-warning:focus {
  background-color: var(--color-shade-warning);
  color: var(--dark-90);
}
/* STATES */
.cs-button:hover,
.cs-button:focus {
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.cs-button.primary:active,
.cs-button.primary:focus {
  background-color: var(--color-shade-primary);
  color: var(--light-100);
}
.cs-button.secondary:active,
.cs-button.secondary:focus {
  background-color: var(--color-shade-secondary);
  color: var(--light-100);
}
.cs-button.dark:active,
.cs-button.dark:focus {
  background-color: var(--color-shade-dark);
  color: var(--light-100);
}
.cs-button.light:active,
.cs-button.light:focus {
  background-color: var(--color-shade-light);
  color: var(--dark-80);
}
.cs-button.success:active,
.cs-button.success:focus {
  background-color: var(--color-shade-success);
  color: var(--light-100);
}
.cs-button.danger:active,
.cs-button.danger:focus {
  background-color: var(--color-shade-danger);
  color: var(--light-100);
}
.cs-button.warning:active,
.cs-button.warning:focus {
  background-color: var(--color-shade-warning);
  color: var(--dark-90);
}
/* BUTTON OUTLINE */
.input-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.form-label-light {
  font-family: "Bayon";
  font-size: medium;
  margin-bottom: 0.5rem;
}
input.form-control-light {
  background-color: transparent !important;
  border-top: transparent none !important;
  border-right: transparent none !important;
  border-left: transparent none !important;
  border-radius: 0 !important;
}
textarea.form-control-light {
  background-color: transparent !important;
  border-radius: 0 !important;
}
.form-control-light::placeholder {
  color: #999 !important; /* Change the color to whatever you prefer */
}
.form-control.form-control-light:focus,
.form-control:focus,
select.form-control:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom-color: rgb(120, 107, 255);
  border-bottom-width: 1.5px;
  border-style: inset;
}
.form-control.is-invalid,
select.form-control.is-invalid {
  /* box-shadow: 0px 1px 3px 0.5px var(--bs-danger); */
}
.form-control.is-valid,
select.form-control.is-valid {
  /* box-shadow: 0px 1px 3px 0.5px var(--bs-success); */
}
.invalid-feedback {
  color: var(--bs-danger) !important;
}

select.form-control {
  background-color: transparent !important;
  border-radius: 0 !important;
  appearance: none; /* Remove default appearance */
  border-top: none;
  border-left: none;
  border-right: none;
}
select.form-control option {
  background-color: black !important;
  color: #fff !important;
  border-radius: 0 !important;
}
select.form-control option:hover {
  background-color: var(--bg-light-80) !important;
  border-radius: 0 !important;
}
