#layout {
  display: flex;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
#sidebar {
  background-color: var(--dark-80);
  height: 100dvh;
  min-width: 280px;
  overflow: auto;
  transition: width 0.3s ease;
}
#sidebar.close {
  min-width: 80px;
}
#toggle-btn {
  cursor: pointer;
  padding: 0.5rem;
}
#content-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#content-navbar {
  background-color: var(--light-90);
  min-height: 60px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
}

#content {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  background-color: var(--bg-light-80);
}
