:root {
  --border-radius: 0.8rem;
  --md-container-zindex: 1002 !important;
  --md-zindex: 1003 !important;
}
#md-form {
  background-color: transparent;
}
#md-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh; /* Use vh instead of dvh */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: var(--md-container-zindex) !important;
  overflow: auto;
}
#md {
  height: 500; /* Adjust height as needed */
  width: 500px; /* Adjust width as needed */
  max-width: 90%; /* Maximum width */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  border-radius: var(--border-radius);
  z-index: var(--md-zindex) !important;
}
#md-header {
  transition: box-shadow 0.5s ease-in-out;
  height: auto; /* Set header height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  background-color: var(--light-90);
}
#md-body {
  transition: box-shadow 0.5s ease-in-out;
  flex: 1; /* Let the body take up remaining space */
  overflow: auto;
  padding: 1rem;
}
#md-footer {
  transition: box-shadow 0.5s ease-in-out;
  height: auto; /* Set footer height */
  padding: 1rem; /* Add padding for content */
  gap: 0.5rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--light-90);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
/* SCROLL_BAR */
#md-body::-webkit-scrollbar {
  width: 8px;
}

#md-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#md-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#md-body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn-close {
  cursor: pointer;
}
/* MODAL SIZES */
#md-sm {
  width: 300px;
}
#md.s-md {
  width: 600px;
}
#md.s-lg {
  width: 800px;
}
#md.s-xl {
  width: 1140px;
}
#md.s-fullscreen {
  height: 100dvh;
  min-width: 100%;
  margin: 0 !important;
  border-radius: 0;
}
/* ANIMATION */
.md-show {
  opacity: 1;
  display: block;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    display: block !important;
  }
}
.md-hide {
  opacity: 0;
  display: block;
  animation: fadeOut 0.3s ease forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99.9% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
#md.static-pulse {
  animation: pulse 0.3s ease forwards;
}
@keyframes pulse {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
